<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"  type="text/css" href="/styles.css">
    <title>{{ title }}</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo"><i class="material-icons">grain</i>Bull UI</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if queue_size}}
                    <li><a href="#"> <span class="new badge red" data-badge-caption="queues"> {{ queue_size }}</span></a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{#if error_message}}
        <div class="container red accent-2 center">
            <div class="col s12 m2">
                <p class="z-depth-1 white-text custom-error">{{ error_message }}</p>
            </div>

        </div>
    {{else}}
        {{{ body }}}
    {{/if}}
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
<script src="/app.js" type="text/javascript" ></script>
</body>
</html>
